<appSettings>
  <add key="BaseUrl" value="https://www-au-uat.computershare.com/"/>
  <add key="DefaultBrowser" value="chrome"/>
  <!--<add key="Culture" value="fr-FR"/>-->
  <add key="Culture" value="en-GB"/>
  <add key="LanguageResources" value="SpecflowAcceptanceTests.Resources.PageResources"/>
  <add key="Timeout" value="120"/>
  <add key="IsSPA" value="true"/>
  <add key="HTMLReport" value="true"/>
  <add key="ReportPath" value="C:\testoutput"/>
</appSettings>