<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <specFlow>
    <unitTestProvider name="MsTest"/>

    <plugins>
      <add name="MTMGeneratorProvider" path="./lib" type="Generator"/>
    </plugins>
    
  </specFlow>

  <appSettings configSource="Environment.config"/>
</configuration>
